<!DOCTYPE html>
<html lang="en">
<!-- --- -->
<head>
<!-- --- -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AI-API</title>
<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- --- -->
<style>
.page-cover {
  position: fixed;
  top:0; right:0; bottom:0; left:0;
  overflow: hidden;
  background: #eee;
  z-index: 99999;
}
.pre {
  white-space: pre-wrap;
}
</style>
<!-- --- -->
</head>
<!-- --- -->
<body>
<!-- --- -->
<div class="app" id="app">
<!-- --- -->

<div class="page-cover" v-if="false"><div class="container pt-5 text-center">
  <div class="row"><div><h2>AI-API</h2></div></div>
  <div class="row"><div><p>loading...</p></div></div>
</div></div>


<div class="main-wrap">

  <div class="d-flex flex-column m-2 p-2 gap-2 rounded border text-secondary bg-secondary bg-opacity-10">
    <div class="">version: 0.1.1</div>
  </div>

  <div class="d-flex flex-column m-2 p-2 gap-2 rounded border text-secondary bg-secondary bg-opacity-10">
    <h5 class="mb-0">🔑 <code>SERVER</code></h5>
    <div>backendUrl</div>
    <input type="text" class="form-control" v-model="data.backendUrl" placeholder="http:xxx.com/xx/xx">
    <div>password</div>
    <input type="password" class="form-control" v-model="data.password" placeholder="xxxxxx">
  </div>



  <div class="d-flex flex-column m-2 p-2 gap-2 rounded border text-secondary bg-secondary bg-opacity-10">
    <h5 class="mb-0">💾 <code>SAVED</code></h5>

    <div class="d-flex flex-row gap-2">
      <!-- <button :class='`btn btn-sm btn-light`' type="button" @click="()=>{}">importAll</button> -->
      <button :class='`btn btn-sm btn-light`' type="button" @click="onExportAll">exportAll</button>
    </div>

    <div class="d-flex flex-row gap-2">
      <select
      v-model="savedForms.selected"
      class="form-select"
      aria-label="Select"
      >
        <option value="[[none]]" selected>[[none]]</option>
        <option v-for="(item, idx) in savedForms.list" :key="`[${idx}]${makeItemText(item)}`" :value="idx" selected>{{makeItemText(item)}}</option>
      </select>
      <button :class='`btn btn-sm btn-outline-danger`' type="button" @click="onDelete">delete</button>
      <button :class='`btn btn-sm btn-outline-primary`' type="button" @click="onSelect">select</button>
    </div>
  </div>



  <div class="d-flex flex-column m-2 p-2 gap-2 rounded border text-secondary bg-secondary bg-opacity-10">
    <h5 class="mb-0">🌐 <code>SYSTEM</code></h5>

    <div class="d-flex flex-row gap-2">
      <!-- <button :class='`btn btn-sm btn-light`' type="button" @click="()=>{}">import</button> -->
      <button :class='`btn btn-sm btn-light`' type="button" @click="onExport">export</button>
      <button :class='`btn btn-sm btn-light`' type="button" @click="onSave">save</button>
    </div>

    <div>You are a helpful assistant designed to output JSON.</div>
    <div>Your task:</div>
    <textarea class="form-control font-monospace" v-model="data.taskDesc" placeholder="判断A和B是否是近义词"></textarea>

    <div>Request format:</div>
    <textarea class="form-control font-monospace" v-model="data.reqFormat" placeholder='{ "A": "天才", "B": "黄瓜" }'></textarea>

    <div>Respond format:</div>
    <textarea class="form-control font-monospace" v-model="data.resFormat" placeholder='{ "Re": false }'></textarea>

    <div>You should use the same language as the users whenever possible.</div>
  </div>


  <div class="d-flex flex-column m-2 p-2 gap-2 rounded border text-secondary bg-secondary bg-opacity-10">
    <h5 class="mb-0">🙂 <code>USER</code></h5>
    <div class=""><textarea class="form-control font-monospace" v-model="data.query" placeholder='{ "A": "天才", "B": "黄瓜" }'></textarea></div>
    <div>model:</div>
    <!-- <input type="text" class="form-control" v-model="data.model" placeholder="gpt-3.5-turbo-1106"> -->
    <select v-model="data.model" class="form-select" aria-label="Select your model">
      <option value="gpt-3.5-turbo-1106" selected>gpt-3.5-turbo-1106</option>
      <option value="gpt-4-1106-preview">gpt-4-1106-preview</option>
    </select>

    <div class=""><button :class='`btn -btn-sm btn-primary${data.running?" disabled":""}`' type="button" @click="onRun">{{data.running?"...":"Run"}}</button></div>
  </div>


  <div class="d-flex flex-column m-2 p-2 gap-2 rounded border text-secondary bg-secondary bg-opacity-10">
    <div class=""><button :class='`btn -btn-sm btn-${data.collapsed?"light":"secondary"}`' type="button" @click="()=>{data.collapsed=!data.collapsed}">{{data.collapsed?"collapsed: on":"collapsed: off"}}</button></div>

    <h5 class="mb-0">🤖 <code>AGENT</code></h5>
    <pre :class="`pre mb-0 text-break ${data.collapsed?'':'--'}text-wrap`">{{data.result?.data??data.result?.error??(data.running?"Thinking...":":)")}}</pre>
  </div>

</div>


<!-- --- -->
</div>
<!-- --- -->
<script src="https://cdn.bootcdn.net/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/1.5.0/axios.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/localforage/1.10.0/localforage.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/3.3.4/vue.global.js"></script>
<!-- <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> -->
<!-- <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.3.4/vue.runtime.global.prod.min.js"></script> -->
<script>

const makeItemText = (item) => {
  return `[[ ${(item?.query??"")?.slice?.(0,20)} ]][[ ${(item?.taskDesc??"")?.slice?.(0,20)} ]]`;
};

function makeInstruction(task, reqFormat, resFormat) {
  return instructionTemplate.replace("[<[([[TASK_DESCRIPTION]])]>]", task).replace("[<[([[REQ_FORMAT]])]>]", reqFormat).replace("[<[([[RES_FORMAT]])]>]", resFormat);
}

const onMountedFn = async (store, data, savedForms) => {
  const myStoredData = await store.getItem("myStoredData")??{};
  Object.assign(data, myStoredData);
  const myStoredFormsList = await store.getItem("myStoredFormsList")??[];
  savedForms.list = myStoredFormsList;
};

const onUpdatedFn = async (store, data, savedForms) => {
  const toBeStored = {...data, result: null};
  await store.setItem("myStoredData", toBeStored);
};

const onSaveFn = async (store, savedForms, data) => {
  savedForms.list.push(data);
  const formsToBeStored = savedForms.list.map(form=>({
    ...form,
    result: {...form?.result},
    running: false,
  }));
  await store.setItem("myStoredFormsList", formsToBeStored);
};

const onSelectFn = async (store, savedForms, data) => {
  const collapsed = data.collapsed;
  const selectedForm = savedForms.list[savedForms.selected];
  if (null == selectedForm) return;
  Object.assign(data, selectedForm);
  data.running = false;
  data.collapsed = collapsed;
};

const onDeleteFn = async (store, savedForms, data) => {
  const selectedForm = savedForms.list[savedForms.selected];
  if (null == selectedForm) return;
  savedForms.list.splice(savedForms.selected, 1);
  const formsToBeStored = savedForms.list.map(form=>({...form, result: {...form?.result}}));
  await store.setItem("myStoredFormsList", formsToBeStored);
  savedForms.selected = null;
};

const onExportSelectedForm = async (store, savedForms, data) => {
  const selectedForm = savedForms.list[savedForms.selected];
  if (null == selectedForm) return;
  const blob = new Blob([JSON.stringify(selectedForm)], {type: "application/json;charset=utf-8"});
  saveAs(blob, "my-ai-api-form.json");
};

const onExportSavedForms = async (store, savedForms, data) => {
  const blob = new Blob([JSON.stringify(savedForms.list)], {type: "application/json;charset=utf-8"});
  saveAs(blob, "my-ai-api-forms.json");
};

const onExportData = async (store, savedForms, data) => {
  const blob = new Blob([JSON.stringify({...data, password: undefined, running: undefined, collapsed: undefined})], {type: "application/json;charset=utf-8"});
  saveAs(blob, "my-ai-api-data.json");
};

const onRunFn = async (data) => {
  data.running = true;
  data.result = null;
  const {
    backendUrl,
    password,
    query,
    model,
    taskDesc: task,
    reqFormat,
    resFormat,
  } = data;
  try {
    if (!task?.length) throw new Error("task is empty");
    if (!query?.length) throw new Error("query is empty");

    const res = await axios.post(data.backendUrl, {
      query,
      task,
      reqFormat,
      resFormat,
      model,
      password,
    });

    console.log(res.data);

    // data.result = res.type=="json" ? JSON.stringify(JSON.parse(res.data), null, 2) : res.data;
    data.result = res.data;
    data.running = false;

  } catch (err) {

    console.error(err);
    data.result = {type: "error", error: err};
    data.running = false;

  }
};

const default_taskDesc = `你正在进行词汇推理能力测试。
- 题目（Q）会给出若干含有 _XXX_ 槽位的短语，你需要在这些槽位填入合适的单词，要求填入的单词能够让每一个短语都成立。
1. 列举：**尽可能多地**列举可能**满足要求**的单词，将它们作为候选词语填入候选项（C）字段。
2. 检查：接着，请对C中的单词进行逐个考察，将词语填入每个短语中，判断短语是否正确（用✅和❌表示）。将检查过程填入测试（T）字段。
3. 回答：根据T中的结果，选出所有短语都成立的单词，填入答案（A）字段。

**注意：请尽可能在第一步就列举正确的单词！**`;

const default_reqFormat = `{"Q": ["提高_XXX_", "很高的_XXX_"]}`;
const default_resFormat = `{ "C": ["成绩", "警惕", "山脉", ...],
  "T:" {
    "成绩": [["提高成绩", "✅"], ["很高的成绩", "✅"]],
    "警惕": [["提高警惕", "✅"], ["很高的警惕", "✅"]],
    "山脉": [["提高山脉", "❌"], ["很高的山脉", "✅"]],
    ...
  },
  "A": ["成绩", "警惕", ...] }`;
  const default_query = `{ "Q": ["进行_XXX_", "_XXX_身体", "保持_XXX_状态"] }`;


const { reactive, readonly, ref, toRefs, computed, onMounted, onUpdated } = Vue;
const MainApp = {
  setup() {
    const store = (localforage.createInstance({
      name: "my-ai-api-ui",
    }));
    const savedForms = Vue.reactive({
      list: [],
      selected: {},
    });
    const data = Vue.reactive({
      backendUrl: "",
      password: "",
      model: "gpt-3.5-turbo-1106", // gpt-4-1106-preview
      taskDesc: default_taskDesc,
      reqFormat: default_reqFormat,
      resFormat: default_resFormat,
      query: default_query,
      result: null,
      running: false,
      collapsed: false,
    });
    onMounted(() => { onMountedFn(store, data, savedForms); });
    onUpdated(() => { onUpdatedFn(store, data, savedForms); });

    function onRun() { onRunFn(data); }
    function onSave() { onSaveFn(store, savedForms, data); }
    function onSelect() { onSelectFn(store, savedForms, data); }
    function onDelete() { onDeleteFn(store, savedForms, data); }

    function onExport() { onExportData(store, savedForms, data); }
    function onExportAll() { onExportSavedForms(store, savedForms, data); }

    return {
      savedForms,
      data,
      onRun,
      onSave,
      onSelect,
      onDelete,
      onExport,
      onExportAll,
      makeItemText,
    };
  },
};
const theApp = Vue.createApp(MainApp);
const app = theApp.mount("#app");
</script>
</body>
</html>